.markdown h1 {
    text-transform: none !important;
    font-size: 24px;
    color: #fff;
}

.markdown h2 {
    font-size: 20px;
    font-weight: normal;
    color: #fff;
}

.markdown h3 {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
}

.markdown h4 {
    font-size: 14px;
}

.markdown p {
    font-size: 16px;
}

.markdown code {
    background-color: var(--mantine-color-gray-8);
    border-radius: rem(4px);
    padding: rem(2px) rem(4px);
}

.markdown code[class*="language-"] {
    display: block;
    background-color: var(--mantine-color-gray-8);
    border-radius: rem(4px);
    padding: rem(6px);
}

.markdown hr {
    border: none;
    border-top: rem(1px) solid var(--mantine-color-gray-8);
    margin: var(--mantine-spacing-lg) 0;
}
