html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--mantine-color-blue-light-color);
}
