.wrapper {
    position: relative;
    padding-top: rem(90px);
    padding-bottom: rem(90px);
    background-size: 80%;
    background-position: center;
    border-radius: rem(4px);
    box-shadow: 0 2px 4px rem(4px) rgba(0, 0, 0, 0.4);

    @media (max-width: $mantine-breakpoint-xs) {
        padding-top: rem(80px);
        padding-bottom: rem(50px);
    }
}

.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.inner {
    position: relative;
    z-index: 1;
}

.title {
    font-weight: 800;
    font-size: rem(40px);
    padding-left: var(--mantine-spacing-md);
    text-transform: capitalize;
    padding-right: var(--mantine-spacing-md);
    color: var(--mantine-color-white);
    margin-bottom: var(--mantine-spacing-xs);
    text-align: center;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(28px);
        text-align: left;
    }
}

.highlight {
    color: var(--mantine-color-primary-4);
}

.description {
    color: var(--mantine-color-white);
    text-align: justify;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-md);
        text-align: left;
    }
}
