.markdown h1 {
    text-transform: none !important;
}

.markdown code {
    background-color: var(--mantine-color-gray-8);
    border-radius: rem(4px);
    padding: rem(2px) rem(4px);
}

.markdown hr {
    border: none;
    border-top: rem(1px) solid var(--mantine-color-gray-8);
    margin: var(--mantine-spacing-lg) 0;
}
