.header {
    position: fixed;
    z-index: 9999999;
    width: 100%;
    height: rem(40px);
    background-color: var(--mantine-color-black);
    margin-bottom: rem(8px);
}

.inner {
    height: rem(40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(
            var(--mantine-color-gray-0),
            var(--mantine-color-dark-6)
        );
    }
}

.link.active {
    border-bottom: 2px solid var(--mantine-color-blue-6) !important;
}

.linkLabel {
    margin-right: rem(5px);
}
