.message h1,
.message h2,
.message h3,
.message h4,
.message h5,
.message h6 {
    text-transform: none !important;
    margin: 0 !important;
}

.message ul,
.message ol {
    padding: 0 !important;
    margin: 0 !important;
    padding-left: 18px !important;
}

.message h1 {
    font-size: 24px;
}

.message h2 {
    font-size: 20px;
}

.message h3 {
    font-size: 18px;
}

.message h4 {
    font-size: 16px;
}

.message h6 {
    font-size: 14px;
}

.message p {
    font-size: 14px;
    margin: 0 !important;
    line-height: 1.5 !important;
}

.message code {
    background-color: var(--mantine-color-gray-7) !important;
    color: #fff !important;
}

.message code[class*="language-"] {
    display: block !important;
    background-color: var(--mantine-color-gray-7) !important;
    border-radius: 4px !important;
    padding: 6px !important;
}

.message hr {
    border: 0 !important;
    border-top: 1px solid var(--mantine-color-gray-7) !important;
    width: 70% !important;
}

.message blockquote {
    background-color: var(--mantine-color-gray-7) !important;
    padding: 10px !important;
    border-left: 4px solid var(--mantine-color-primary) !important;
    margin: 0 !important;
}

.message {
    font-size: 14px;
    line-height: 1.5 !important;
    padding: 0 !important;
}
